/bin/
=======
# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
# exclude big datafile so it is not accidentally checked in
test/resources/data/serverX_10000000.data

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
